#include </home/hty/.nord>
URxvt.transparent: true
URxvt.shading: 30
URxvt.font: xft:GohuFont Nerd Font Mono:size=23
URxvt.boldFont: xft:GohuFont Nerd Font:size=25
URxvt.scrollBar: false
URxvt.letterSpace: 1
URxvt.iso14755: true
URxvt.iso14755_52: false
URxvt.internalBorder:           33
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true

XTerm*scrollbar: true
XTerm*renderFont: true
XTerm*faceName: Terminus
XTerm*faceSize: 30

Xcursor.size: 48

! Colors
*background:   nord1
*foreground:   nord5
*cursorColor:  nord14

! black
*color0:      nord1
*color8:      nord3

! red
*color1:      nord11
*color9:      nord11

! green
*color2:      nord14
*color10:     nord14

! yellow
*color3:      nord13
*color11:     nord13

! blue
*color4:      nord9
*color12:     nord9

! magenta
*color5:      nord15
*color13:     nord15

! cyan
*color6:      nord8
*color14:     nord8

! white
*color7:      nord5
*color15:     nord6

